<footer class="mt-5">
  <small class="bg-white text-center fixed-bottom">
    Website by <a href="http://danielccardona.my-board.org/">Daniel C. Cardona</a>
  </small>
</footer>

<script
type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"
></script>
<script type="text/javascript" src="index.js" ></script>
</body>
</html>