<div class="col-xs-2 col-sm-2 col-md-4 col-lg-3 col-xl-2">
  <nav class="card bg-white py-3 menu">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard"><i class="bi bi-house m-2"></i>Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/notes"><i class="bi bi-file-text m-2"></i>Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/images"><i class="bi bi-image m-2"></i>Images</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dashboard/configuration"><i class="bi bi-gear m-2"></i>Configuration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout"><i class="bi bi-x-square m-2"></i>Log out</a>
      </li>
    </ul>
  </nav>
</div>

<nav class="bg-white mobileMenu">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard"><i class="bi bi-house m-2"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/notes"><i class="bi bi-file-text m-2"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/images"><i class="bi bi-image m-2"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/dashboard/configuration"><i class="bi bi-gear m-2"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout"><i class="bi bi-x-square m-2"></i></a>
    </li>
  </ul>
</nav>