<form action="/register" method="post">
  <h2>Register</h2>
  <label for="name" class="form-label">Name:</label>
  <input type="text" name="name" id="name" class="form-control">
  <label for="email" class="form-label">Email:</label>
  <input type="email" name="email" id="email" class="form-control">
  <label for="password" class="form-label">Password:</label>
  <input type="password" name="password" id="password" class="form-control">
  <button type="submit" class="btn btn-primary mt-3">Register now</button>
</form>