<%- include("partials/header.ejs") %>

<div class="col text-center">
  <h1>404 NOT FOUND</h1>
  <small>The page that you're looking for doesn't exist or is broken</small>
  <a href="/">Go to main page</a>
</div>

<%- include("partials/footer.ejs") %> 