<%- include('partials/header.ejs') %>
<div class="container">
    <h1>Nai app - Notes and images</h1>
  <div class="row mt-5 bg-white">
    <div class="col-sm-12 col-md-6">
      <%- include("partials/login.ejs") %> 
    </div>
    <div class="col">
      <%- include("partials/register.ejs") %> 
      
    </div>
  </div>
</div>
<%- include('partials/footer.ejs') %>  