<%- include('../partials/header.ejs') %>

<%- include('../partials/menu.ejs') %>
    
<div class="col">
  <h2>Configuration</h2>

  <form action="/change-name" method="POST" >
    <h3>Edit name</h3>
    <input type="text" name="name" id="name" value="<%= locals.name %>" class="form-control">
    <button type="submit" class="btn btn-primary mt-2">Save</button>
  </form>
  <% if(locals.emptyName) { %>
    <p class="text-danger">Set a name</p> 
  <% } %>

  <form >
    <h3>Delete account</h3>
    <p class="text-danger"><small>Warning: you'll lose all your data</small> </p>
    <a href="/delete-account" class="btn btn-danger">Delete</a>
  </form>
</div>

<%- include('../partials/footer.ejs') %>