<%- include('../partials/header.ejs') %>

<%- include('../partials/menu.ejs') %>

<div class="col">
  <h2>Welcome <%= name %></h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quibusdam vel aspernatur, accusantium voluptas nulla id qui optio. Omnis odit officia odio amet facilis illo animi sint consequatur, quisquam repellat.</p>

  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quibusdam vel aspernatur, accusantium voluptas nulla id qui optio. Omnis odit officia odio amet facilis illo animi sint consequatur, quisquam repellat.</p>
</div>

<%- include('../partials/footer.ejs') %>  