<%- include('../partials/header.ejs') %>

<%- include('../partials/menu.ejs') %>

<div class="col">
  <div class="d-flex justify-content-start align-items-center">
    <h2>Notes</h2>
    <a href="/dashboard/notes/add-note"><i class="bi bi-plus mx-2"></i>Add note</a>
  </div>
  <% notes.forEach(note => { %>
    <%- include('./note.ejs', {note: note}) %>     
  <% }) %>
</div>


<%- include('../partials/footer.ejs') %> 